<h1>You Pragmatic Catalog</h1>

<ul class="catalog">
<% cache @products do %>
    <% @products.each do |product| %>
        <% cache product do%>
        <li>
        <%= image_tag(product.image_url, size:"150x200") %>
        <h2> <%= product.title %> </h2>
        <p>
        <%= sanitize(product.description) %>
        </p>
        <div class="Price">
        <%= number_to_currency(product.price) %>
        </div>
        </li>
        <% end %>
    <% end %>
<% end %>
 </ul>


